/*http://paletton.com/  pallette id: 51E0u0kw0a2jOjepMf0JJ6kU33A*/

*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Candara, sans-serif;;
	background: #D0D5B2;
	min-height: 400px;
	margin-bottom: 100px;
	clear: both;
	height: 100%;
}

.header {
	background-color: #D0D5B2;
	height: 200px;
}

.logo {
	height: 150px;
	width: 300px;
	margin-left: 25px;
	margin-top: 10px;
}

.container-fluid {
	background-color: #322E00;
	color: #99913A;
	margin-bottom: 0px;
	padding-bottom: 0px;
	height: 50px;
}

.main {
	margin-bottom: 100px;
}
.footer {
	background-color: #322E00;
	color: #99913A;
	font-size: 15px;
	text-align: center;
	height: 10%;
	width: 100%;
	position: fixed;
	bottom: 0px;
	margin-top: 50px;
	padding-top: 20px;
	border-top: 70px;
}

#home {
	max-height: 100%
	margin-bottom: 100px;
}

.home {
	padding-bottom: 100px;
	margin-bottom: 15%;
}

.mainpic{
	width: 100%;
	 height: auto;
	 position: fixed;
	 left: 0px;
	 top: 150px;
	 z-index: -1;
	 margin-bottom: auto;
}

.mainpictext {
	position: relative;
	text-align: center;
	margin-top: 580px;
	color: #1C1A00
}

.separator {
	margin-bottom: 100px;
}

.about {
	text-align: center;
	color: #322E00
	margin-left: 30px;
}

.slogan {
	text-align: center;
	color: #322E00
	margin-left: 30px;
}

.aboutinfo > img,
.aboutinfo > section{
	display: inline;
	float: left;
}

.fampic {
	height: 300px;
	width: 200px;
	border: 20px #322E00;

	margin-bottom: 100px;
	margin-left: 30px;
	display: inline-block;
}

.family {
	border: 20px #322E00;

	margin-bottom: 100px;
	display: inline-block;
}

.timber {
	margin-left: 50px;

	padding-top: 20px;
	font-size: 23px;
	margin-bottom: 300px;
	color: #322E00
	display: inline-block;
}

.lists {
	margin-left: 22px;
	display: inline-block;
}

.bio {
	margin left: 0px;
}

.stretch {
	width:100%;
	 height:100%;
}


.portfolio {
	color: #322E00;
	font-size: 3em;
	text-align: center;
	margin: 1em;
}

#gallery {
	max-width: 52em;
	max-height: 100em;
	margin: 1em auto;
	background: #322E00;
	padding: 1em;
	margin-bottom: 75px;

}

.image-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 1em;
}

.image-list > img {
	cursor: pointer;
	display: block;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
flex-direction: row;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-height: 7em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 33%;
  width: auto%;
	height: auto;
	object-fit: cover;
}
.image-list > img:hover {
  opacity: 0.8;
}
.hero-image > img {
  height: auto;
  width: 100%;
}
.hero-image > img.ng-enter {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.hero-image > img.ng-enter.ng-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.contactimage {
	height: 400px;
	width: 100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-top:0px;
	padding-right: 0px;
	padding-bottom: 100px;
	padding-left: 0px;
}

.contactinfo {
	margin-left: 250px;
	margin-top: 30px;
	color: #322E00;
	font-size: 20px;
}

.contactform {
	margin-left: 250px;
	font-size: 20px;
	color: #322E00;
	padding-bottom: 50px;
	align: center;
}

.firstname {

	color: #322E00;
}
.firstnameinput {
	height: 35px;
	width: 400px;
	background-color: #F5F5F5;

}

.lastname {
	font-size: 50px:
	color: #322E00;
}

.lastnameinput {
	height: 35px;
	width: 395px;
	background-color: #F5F5F5;
}


.email {
	color: #322E00;;
}

.emailinput {
	height: 35px;
	width: 800px;
	background-color: #F5F5F5;
}

.subject {
	color: #322E00;
}

.subjectinput {
	height: 35px;
	width: 800px;
	background-color: #F5F5F5;
}

.message {
	color: #322E00;
}

.messageinput {
	text-align: left;
	padding: 0.4em 0.4em 0.4em 0;
	line-height: 200px;
	height: 200px;
	width: 800px;
	background-color: #F5F5F5;
}

#submit {
	background-color: #322E00;
}

.loginbutton {
	background-color: #322E00;
	color: #F5F5F5;
	border-radius: 5px;
	margin-bottom: 10px;
}

.mission {
	text-align: center;
}
.clients {
	margin-left: 30px;
}

.submitnote{
	background-color: #322E00;
	color: #F5F5F5;
	border-radius: 5px;
	width: 50px;

}

.delete{
	background-color: #322E00;
	color: #F5F5F5;
	border-radius: 5px;
	margin-bottom: 10px;
}

.logout {
	background-color: #322E00;
	color: #F5F5F5;
	border-radius: 5px;
	margin-bottom: 10px;
}
