*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Candara;
	background: #D0D5B2;
}

.header {
	background-color: white;
}

.portfolio {
	color: #667600;
	font-size: 3em;
	text-align: center;
	margin: 1em;
}

#gallery {
	max-width: 50em;
	max-height: 100em;
	margin: 1em auto;
	background: #504800;
	padding: 1em;

}

.image-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 1em;
}

.image-list > img {
	cursor: pointer;
	display: block;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
flex-direction: row;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-height: 7em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 33%;
  width: 100%;
}
.image-list > img:hover {
  opacity: 0.8;
}
.hero-image > img {
  height: auto;
  width: 100%;
}
.hero-image > img.ng-enter {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.hero-image > img.ng-enter.ng-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.contactinfo {
	margin-left: 250px;
	margin-top: 20px;
	color: #667600;
	font-size: 20px;
}

.firstname {

	color: #667600;
}

.contactform {
	margin-left: 250px;
	font-size: 20px;
}
.firstnameinput {
	height: 35px;
	width: 400px;
	background-color: #F5F5F5;

}

.lastname {
	font-size: 50px:
	color: #667600;
}

.lastnameinput {
	height: 35px;
	width: 395px;
	background-color: #F5F5F5;
}


.email {
	color: #667600;;
}

.emailinput {
	height: 35px;
	width: 800px;
	background-color: #F5F5F5;
}

.subject {
	color: #667600;
}

.subjectinput {
	height: 35px;
	width: 800px;
	background-color: #F5F5F5;
}

.message {
	color: #667600;
}

.messageinput {
	height: 200px;
	width: 800px;
	background-color: #F5F5F5;
}
