<div class = "aboutview">


<div class = "contactimage">
<img class = "contactphoto" src = "./assets/tetons2.jpg">

</div >
<h1 class = "about">About</h1><br><br>
<h3 class = "slogan">Integrity, Quality, Customer Service</h3>
<br>
<br>
</div>
<div class = "aboutinfo">
<div class = "fampic">
	<img class = "family" src = "./assets/fam.jpg">
</div>

<section class = "timber">
	<p><strong>Timberline Home Creations,&nbsp;</strong>owned and operated by Darren Enrico,<br>
	is a leading contractor of unique and distinctive residential projects in<br>
  Teton Valley, Idaho and Jackson Hole, Wyoming.  Darren's personal approach helps<br>
  clients thoughtfull design their dream home to integrate with the areas natural beauty.<br><br></p>
  <div class = "lists">
	<strong>Additional Personal Service</strong>
	<ul>
	<li>On-site management to ensure your project is completed on time and within budget</li>
	<li>Established relationships with subcontractors provides high quality and reliability</li></ul>
  <br>
	<strong>A Broad Range of Experience</strong>
	<ul>
	<li>Custom residential homes</li>
	<li>Hangar homes</li>
	<li>Structural insulated panels</li>
	<li>Timberframe</li>
	<li>Custom log accents</li>
	<li>Remodels and additions</li>
	<li>Custom millwork and furniture</li>
	</ul>
  <br><br>
	<div class = "bio">
	<p>Darren and his family have lived in the beautiful Teton Valley for over twenty years.<br>

	</p>
	</div>
	</div>
</section>
</div>
