<h1 class = "mission">Timberline Mission Control</h1><br><br>
<div class = "clients" ng-init = "getContacts()" >
<div ng-repeat="contact in contacts">
 <strong>Name:</strong> {{contact.first_name}} {{contact.last_name}}
 <strong>Email:</strong> {{contact.email}}
 <strong>Subject:</strong> {{contact.subject}}<br>
 <strong>Message:</strong> {{contact.message}}<br>
 <span ng-init = "getNote()">
 <strong>Darren's Notes:&nbsp;&nbsp;&nbsp;</strong></span><br><br><p ng-repeat="note in notes">{{note.note}}</p>
 <form>
 <label>Notes:
   <input type = "text" ng-model = "noteIn">
 </label>
 <button class = "submitnote" type = "button" ng-click = "postNote(noteIn)">Submit</button>{{ noteIn }}
 </form>
 <label>Delete Contact Info:
   <button class = "delete" type = "button" ng-click = "deleteContact()">Delete</button>
 </label><br><br><br>
</div>
<button class = "logout" ng-click="logOut()">Log Out</button>
</div>
