<div>
<form>
	<label for="first_name" type = "text">First Name:
		<input ng-model = "first_name" type = "text" placeholder="First Name">
	</label>
	<label for="last_name" type = "text">Last Name:
		<input ng-model = "last_name" type = "text" placeholder="Last Name">
	</label><br>
	<label for="email" type = "text">Email Address:
		<input ng-model = "email" type = "text"placeholder="example@myaddress.com">
	</label><br>
	<label for="subject" type = "text">Subject
		<input ng-model = "subject" type = "text" placeholder="Subject">
	</label><br>
	<label for="message" type = "text">Message:
		<input ng-model = "message" type = "text" placeholder="Message (500 characters or less)">
	</label>
	<button ng-click = "postContact()">Submit</button>
</form>

</div>
